nginx:
  image: nginx
  restart: always
  ports:
    - 5043:443
  links:
    - registry:registry
  volumes:
    - ./nginx/:/etc/nginx/conf.d

registry:
  image: registryï¼š2.3
  restart: always
  ports:
    - 127.0.0.1:5000:5000
  environment:  
    REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
  volumes:
    - ./data:/data